<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"></section>
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\\Logs\\Sats.HOSTWindowsService_" />
      <datePattern value="yyyyMMdd'.log'" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="1000" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>

  <appSettings>
    <add key="LocalPort" value="8200" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Domain" value="vsd2018.vn" />
    <add key="ADPAth" value="LDAP://172.16.131.202" />
    <add key="ADUser" value="administrator" />
    <add key="ADPassword" value="123@abcd" />
    <add key="ADUsersPath" value="OU=TVLK" />
    <add key="AuthType" value="LDAP" />
    <add key="VSDUsername" value="cn=administrator,cn=users,dc=vsd2018,dc=vn" />
    <add key="BKAVPassword" value="123@abcd" />
    <add key="LDAPIP" value="172.16.131.202" />
    <add key="ArrayOgarnization" value="vsd2018" />
    <add key="BKAVDomainComponent" value="vn" />
    <add key="HSMSlotId" value="0" />
    <add key="HSMPin" value="12345678" />
    <add key="HSMDllName" value="C:\Program Files\SafeNet\Protect Toolkit C SDK\bin\sw\cryptoki.dll" />
    <add key="HSMPublicKeyName" value="VSD" />
    <add key="HSMPrivateKeyName" value="VSD" />
    <add key="CertificateName" value="VSD" />
    <!-- Test ENV - NEW CA BKAV 2024 -->
    <add key="UrlServiceSignserver" value="https://192.168.131.113/signserver/ClientWSService/ClientWS?wsdl" />
    <!-- Production -->
    <!--<add key="UrlServiceSignserver" value="http://192.168.131.113/signserver/ClientWSService/ClientWS?wsdl" />-->
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorConfig">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="300" maxConcurrentSessions="300" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding" portSharingEnabled="True" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Buffered" closeTimeout="00:00:10" openTimeout="00:00:10" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxConnections="300">
          <security mode="None">
          </security>
          <readerQuotas maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxStringContentLength="2147483647" />
          <reliableSession enabled="true" inactivityTimeout="00:30:00" />
        </binding>
      </netTcpBinding>
    </bindings>
    <diagnostics performanceCounters="All" />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>